$primarycolor: #35424A;
$secondarycolor: #A9508B;
// For Service.html 
.section__service {
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;
    &--left {
        margin: 0 3% 2% 10%;
        width: 100%;
        & div {
            width: 100%;
            height: auto;
            margin-bottom: 5px;
            background-color: #E6E6E6;
            padding: 20px;
        }
    }
    &--right {
        margin: 20px 140px 0px 50px;
        padding: 0 10px;
        color: #fff;
        background-color: $primarycolor;
        width: 50%;
        & :nth-child(2) {
            width: 90%;
            margin: 0 auto;
        }
        & #button {
            width: 70px;
            height: 40px;
            background-color: #A9508B;
            color: white;
            border: none;
            margin-bottom: 15px;
        }
        & label {
            font-size: 15px;
            line-height: 23px;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.header__right--navbar {
    &-services {
        color: $secondarycolor !important;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700 !important;
        font-size: 16px;
        line-height: 24px;
    }
    &-services:hover {
        color: #ccc !important;
    }
}