.section__service {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.section__service--left {
  margin: 0 3% 2% 10%;
  width: 100%;
}
.section__service--left div {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  background-color: #E6E6E6;
  padding: 20px;
}
.section__service--right {
  margin: 20px 140px 0px 50px;
  padding: 0 10px;
  color: #fff;
  background-color: #35424A;
  width: 50%;
}
.section__service--right :nth-child(2) {
  width: 90%;
  margin: 0 auto;
}
.section__service--right #button {
  width: 70px;
  height: 40px;
  background-color: #A9508B;
  color: white;
  border: none;
  margin-bottom: 15px;
}
.section__service--right label {
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.header__right--navbar-services {
  color: #A9508B !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 24px;
}
.header__right--navbar-services:hover {
  color: #ccc !important;
}